
.MainForm{
    background-color: #272727;
    color: #fff;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin: 1rem 0;
}

.MainForm form{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}