{% extends 'home.html'%}

{% block body %}

<h1>Add new post for {{user.first_name}} {{user.last_name}}</h1>

<form action = '/users/{{user.id}}/create-post' method = POST>
    <input type = "text" name ="title" placeholder = "Title">
    <input type = "text" name ="content" placeholder = "Content">
    </br>
    </br>
    {% for tag in tags %}
        <input type = "checkbox" id = {{tag.name}} name = "tag" value = "{{tag.id}}">
        <label for ="tag_{{tag.name}}">{{tag.name}}</label>
    </br>
    {% endfor %}

    </br>
    <input type = "submit" name = "submit" value="Add">
</form>

<form action="/users/{{user.id}}/to-user">
    <input type = "submit" name = "cancel" formaction="/users/{{user.id}}/cancel" value = "Cancel">
</form>

{% endblock %}