{% extends 'home.html'%}

{% block body %}
    <h1 id ="users-title">Users</h1>
    <ul id ="users-display">
        {% for user in users %}
        <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
        {% endfor %}
    </ul>

    <form action="/users/add" method=POST>
        <input type="text" name = "first_name" placeholder="First Name">
        <input type="text" name = "last_name" placeholder="Last Name">
        <input type="text" name = "img" placeholder="image_url">
        <button>Add User</button>
    </form>

{% endblock %}