{% extends 'home.html'%}

{% block body %}
    <h1>User details for {{user.first_name}} {{user.last_name}}</h1>
    <img src = "{{user.image_url}}">
    <form action ="/users/{{user.id}}/delete" method=POST>
        <input type="submit" name="delete" value="Delete"/>
    </form>
    <form action ='/users/{{user.id}}/edit'>
        <input type="submit" name="edit" value="Edit"/>
    </form>
    
    <ul>
        <li>User Id: {{user.id}}</li>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Lame: {{user.last_name}}</li>
    </ul>

    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
        <li><a href="/users/{{user.id}}/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <form action ='/users/{{user.id}}/add-post'>
        <input type="submit" name="add-post" value="Add Post"/>
    </form>
    <a href="/users">Back to Users</a>
{% endblock %}
