


.Circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    margin: 1rem;
    line-height: 5rem;
    font-weight: bold;
}