


.Jobs{
    background-color: rgb(245, 254, 255);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    top: 1rem;
    align-items: center;
    overflow: scroll;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.11);
}

.Jobs-title{
    /* background-color: purple; */
    position: relative;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}



                    /* SEARCH FORM */

                    

.Jobs-search{
    /* background-color: rgb(198, 238, 175); */
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 75%;
    max-width: 65rem;
}
#Jobs-input{
    /* background-color: palevioletred;    */
    border: 1px solid rgb(63, 205, 181);
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 3px;
    width: 90%;
}
#Jobs-search-btn{
    background-color: rgb(63, 205, 181);
    border: none; 
    width: 7rem;
    height: 3.1rem;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}
#Jobs-search-btn:hover{
    cursor: pointer;
}



                    /* EACH JOB */



.Jobs-job{
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    width: 90%;
    max-width: 65rem;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.Jobs-job-title, .Jobs-job-company-name{
    font-size: 1.1rem;
    font-weight: 500;
    color: #272727;
    margin-bottom: 1rem;
}
.Jobs-job-salary, .Jobs-job-equity{
    font-size: 0.9rem;
    color: #272727;
}

.Jobs-job:last-child{
    margin-bottom: 5rem;
}
.Jobs-job-apply-btn{
    background-color: rgb(196, 255, 196);
    position: relative;
    display: flex;
    border-radius: 5px;
    width: 4rem;
    height: 2.4rem;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #272727;
    align-self: flex-end; 
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.Jobs-job-apply-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
